nibabel
nilearn
nipype
numpy 
pandas
tqdm
joblib>=1.3
scikit-learn>=1.2
matplotlib
torch 
torch_geometric
networkx
seaborn
scipy
torch 
torchvision
torchaudio 
torch-geometric 
scikit-learn
umap-learn
scipy
nolds
PyWavelets
imageio